@using Microsoft.AspNetCore.Identity
@using HistWeb.Helpers



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Historia Network</title>
    @Html.Raw(ViewBag.LoadMetaTag)
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/brands.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/images/favicon.png" />
    <link href="~/lib/grapejs/dist/css/grapes.min.css" rel="stylesheet" />
    <link href="~/lib/grapejs-present/dist/grapesjs-preset-webpage.min.css" rel="stylesheet" />
    <script src="~/lib/grapejs/dist/grapes.min.js"></script>
    <script src="~/lib/grapejs-present/dist/grapesjs-preset-webpage.min.js"></script>
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/logoblue.svg" width="175" />
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" asp-area="Home" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="dropdown-item" asp-area="Home" asp-controller="Home" asp-action="Wallets">Wallets & Software</a>
                                <a class="dropdown-item" href="/Home/About">About / Dev Log</a>
                                <a class="dropdown-item" asp-area="Home" asp-controller="Home" asp-action="Whitepaper">White Paper / Tokenomics</a>
                                <a class="dropdown-item" asp-area="Home" asp-controller="Home" asp-action="Team">Team / Partners / Social</a>

                                <hr />
                                <h5 class="dropdown-item" style="font-weight: bold;">External Links</h5>
                                <a class="dropdown-item" href="https://blockexplorer.historia.network/" target="_blank">Block Explorer #1</a>
                                <a class="dropdown-item" href="https://openchains.info/coin/historia/blocks" target="_blank">Block Explorer #2</a>
                                <a class="dropdown-item" href="https://docs.historia.network/en/latest/" target="_blank">Technical Documentation</a>
                                <a class="dropdown-item" href="https://github.com/HistoriaOffical/historia" target="_blank">Github</a>
                                <a class="dropdown-item" href="https://blog.historia.network/" target="_blank">Blog</a>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Masternodes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="Masternode" asp-controller="Masternode" asp-action="Registration">My Masternodes</a>
                                <a class="dropdown-item" asp-area="Masternode" asp-controller="Masternode" asp-action="Index">Masternodes</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Create" asp-controller="Create" asp-action="Index">Create</a>
                        </li>

                    </ul>
                </div>
                <div class="d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <form id="search-form" class="form-inline">
                                <div class="input-group no-wrap">
                                    <input class="search border-end-0 border rounded-pill rotate" type="search" autocomplete="off" id="search-input" data-default-value="Search Historia">
                                    <span class="input-group-append">
                                        <button id="searchSubmit" class="btn btn-outline-secondary border rounded-pill searchSubmit rotate" style="margin-left: 0px;" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown" title="Number of days left in the current voting cycle">
                            <span class="nav-link">
                                <button class="btn btn-outline-secondary bg-white border rounded-pill btn-outline-secondary rotate" id="rotate" style="min-width: 230px; pointer-events: none;" type="button" value="Loading...">Loading...</button>

                                <!-- <label id="rotate" class="rotate">Loading...</label>-->
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fas fa-cog fa-2x" role="button" aria-pressed="true" asp-area="Home" asp-controller="Home" asp-action="Settings"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <!-- <partial name="_CookieConsentPartial" />-->
        <partial name="_About" />
        <main role="main" class="pb-3">
            <div class="wrapper">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    &copy; 2024 - Historia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </div>
                <div class="col-1 pull-right">
                    <a href="https://twitter.com/historiasys?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow historiasys</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/cryptojs/crypto-js.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/datatables/datatables.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/moment.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/loadingoverlay/loadingoverlay.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">

        var _nextSuperBlock = 0;
        var _currentSuperBlock = 0;
        var _daysleft = 0;

        function formatDate(date) {
            return (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
        }

        function addDays(date, days) {
            var result = new Date(date);
            result.setDate(result.getDate() + days);
            return result;
        }

        function clearRecords() {
            $('#allRecordsContainer').empty();
            $('#proposalsContainer').empty();
            $('#recordsContainer').empty();
            $('#searchContainer').empty();
            pageIndex = 0;
            lastScroll = 0;
            inProgress = false;
        }

        $(document).ready(function () {

            const searchInput = $('#search-input');
            const defaultValue = searchInput.attr('data-default-value');
            searchInput.val(defaultValue);
            searchInput.on('focus', () => {
                if (searchInput.val() === defaultValue) {
                    searchInput.val('');
                }

            });

            var parameters = {};
            var queryR = "";
            var query = "";
            $.each(window.location.search.substr(1).split('&'), function (index, value) {
                var parameter = value.split('=');
                var name = decodeURIComponent(parameter[0]);
                var value = decodeURIComponent(parameter[1]);
                parameters[name] = value;
                queryR = parameters['q'];
            });

            searchInput.on('blur', () => {
                if (searchInput.val() === '') {
                    searchInput.val(defaultValue);
                }
            });

             $('#searchSubmit').on('click', function (evt) {

                    var selectedType = "search";
                    clearRecords();
                    var searchInput = $('#search-input').val();
                    if (searchInput === "" || searchInput === "Search Historia" || typeof searchInput === 'undefined') {
                        $("#SearchNoRecordMsg").show();
                        $('a[href="#search"]').tab('show');
                        $("#searchTab").show();
                        $("#allTab").removeClass("active");
                        $("#proposalsTab").removeClass("active");
                        $("#recordsTab").removeClass("active");
                        $("#all").removeClass("active");
                        $("#proposals").removeClass("active");
                        $("#records").removeClass("active");
                        $('#search').show;
                        $('#search').addClass("show active");
                        $('#searchNoRecordMsg').addClass("show active");

                        $("#searchContainer").show();
                        return;
                    } else {
                        var query = $('#search-input').val();
                        var currentUrl = $(location).attr('href');
                        var baseUrl = window.location.origin;
                        if (currentUrl === baseUrl + '/') {
                            lazyLoadAll(selectedType, pageIndex, query);
                        } else {
                            if (typeof query === "undefined" || query === "") {
                                window.location.href = baseUrl + '/home?q=' + queryR;
                            } else {
                                window.location.href = baseUrl + '/home?q=' + query;
                            }
                        }
                    }
                    event.preventDefault();
            });

            $('#search-input').keydown(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    $('#searchSubmit').trigger('click');
                }
            });

            $('.tab-close').click(function () {

                if ($(this).hasClass('tab-close')) {
                    $("#searchTab").hide();
                    $('#search').removeClass('show active');
                    $("#searchloadingdiv").hide();
                    //$(this).parent().prev().addClass('active');
                }
                $("a[href='#all']").addClass("active");
                $("a[href='#all']").attr("aria-selected", "true");
                $("#search-input").val("Search Historia");
                selectedType = "all";
                $("#all").addClass("show active");
                pageIndex = 0;
                lastScroll = 0;
                clearRecords();
                lazyLoadAll("all", pageIndex);
            });

            $('.tab-select').click(function () {

                $("#searchTab").hide();
                $('#search').removeClass('show active');
                $("#searchloadingdiv").hide();
                $("#search-input").val("Search Historia");
                pageIndex = 0;
                lastScroll = 0;
                clearRecords();
            });



             $.getJSON('@Url.Action("GetCurrentSuperBlockInfo", "Masternode", new { Area = "Masternode" })', function (result) {
                result = JSON.parse(result);
                _currentSuperBlock = result.result.currentBlock;
                _nextSuperBlock = result.result.nextsuperblock;
                 _circulatingSupply = result.result.cSupply;
                 _totalCoins = result.result.totalBudget;
                 _totalPassingCoins = result.result.totalPassingCoins;

                 internationalNumberFormat = new Intl.NumberFormat('en-US');
                var delta = _nextSuperBlock - _currentSuperBlock;
                daysToSuperBlock = (((delta * 2.5) / 60) / 24);
                if (daysToSuperBlock <= 2) {
                    $('#nextSuperBlock').html(Math.round(daysToSuperBlock));
                    _daysleft = Math.round(daysToSuperBlock);
                } else {
                    $('#nextSuperBlock').html(Math.round(daysToSuperBlock - 2));
                    _daysleft = Math.round(daysToSuperBlock - 2);
                 }
                 $('#daysToSuperBlock').html(Math.round(daysToSuperBlock));
                 var votingDeadline = 0;
                 if (daysToSuperBlock < 2) {
                     $('#votingDeadline').html(Math.round(daysToSuperBlock));
                 } else {
                     $('#votingDeadline').html(Math.round(daysToSuperBlock - 2));
                 }
                 var todaydd = new Date();
                 var correctDate = formatDate(addDays(todaydd, Math.round(daysToSuperBlock)));
                 $("#EndCycleDate").html(correctDate);

                 $('#totalCoins').html(internationalNumberFormat.format(Math.floor(_totalCoins)));
                 $('#totalPassingCoins').html(internationalNumberFormat.format(_totalPassingCoins));

                 if (delta < 576 * 2) // Prod
                 //if (delta > 576 * 2) // Test
                 {
                     var path = window.location.pathname;
                     if (path === "/Create/Create/CreateBuilder") {
                         Swal.fire({
                             title: 'Error!',
                             text: 'Proposal Creation is currently disabled for the last 2 days of the cycle.',
                             type: 'error',
                             confirmButtonText: 'Ok'
                         });
                     }
                     $('#submit').addClass('disabled');
                     $('#submit').attr('disabled');
                     $('#submit').hide();
                     $('#submitArchive').addClass('disabled');
                     $('#submitArchive').attr('disabled');
                     $('#submitArchive').hide();
                 }
                 else {
                     $('#submit').removeClass('disabled');
                     $('#submit').removeAttr('disabled');
                     //$('#submit').show();
                     $('#submitArchive').removeClass('disabled');
                     $('#submitArchive').removeAttr('disabled');
                     //$('#submitArchive').show();
                 }

                $('#currentBlock').html(result.result.currentBlock);
                var i = 0;
                (function rotate() {
                    if (i == 0) {
                        i = 1;
                        if (_daysleft <= 1) {
                            $('#rotate').html("New Cycle Tomorrow");
                        } else if (_daysleft <= 2) {
                            $('#rotate').html("New Cycle in Days: " + _daysleft);
                        } else {
                            $('#rotate').html("Voting Days Left: " + _daysleft);
                        }
                    } else if (i == 1) {
                        $('#rotate').html("Current Block: " + internationalNumberFormat.format(_currentSuperBlock));
                        i = 2;
                    } else if (i == 2) {
                        $('#rotate').html("Next Superblock:  " + internationalNumberFormat.format(_nextSuperBlock));
                        i = 3;
                    } else if (i == 3) {
                        var fixedSupply = Math.round(_circulatingSupply);
                        $('#rotate').html("Circulating Supply:  " + internationalNumberFormat.format(fixedSupply));
                        i = 0;
                    }
                    setTimeout(rotate, 5000);
                 })();
             });
        });
    </script>

    @RenderSection("Scripts", required: false)


</body>
</html>

